body {
    margin: 0;
    color: white;
    font-family: century gothic;
    background-image: url("Image/Coffee.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
    text-shadow: rgb(0, 0, 0) 2px 2px;
}

a {
    text-decoration: none;
    color: white;
}


li {
    list-style-type: none;
}

.header {
    width: 100%;
    min-height:90px;
    background-color: rgba(0, 0, 0, 0.500);
    top: 0;
    position: sticky;
}

.navbar a{
    font-size: 1.5vw;
    padding: 15px;
    float: left;
}

#RightNav{
    float:right;
    padding:15px;
}

#logo{
    display:block;
}

#footer{
    padding:80px 0;
    color:white;
    background-color: black;
    position:relative;
}

#Bottom:after{
        content: "";
        display: table;
        clear: both;
}

#refer li{
    text-align:center;
}