body {
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

.navbar {
    width: 100%;
    height: 50px;
    background-color: rgba(216, 216, 216, 1);
}

.Navigation {
    background-color: rgb(131, 95, 95);
    float: left;
}

.Navigation a {
    font-size:2vm;
    padding: 15px;
    float: left;
}

.SearchEngine {
    float: right;
    padding: 15px;
}

#slideshow{
    text-align:center;
    margin:center;
    width:50%;
    
}