body {
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

.navbar {
    width: 100%;
    height: 50px;
    background-color: rgba(216, 216, 216, 1);
}

.Navigation {
    background-color: rgba(216, 216, 216, 1);
}

.Navigation a {
    padding: 15px;
    float: left;
}